body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    min-width: 1200px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    line-height: 18px;
    display: block;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 17px;
    padding-bottom: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
            box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.btn:active a {
    opacity: 0.3;
}

.btn-red {
    color: #ffffff;
    background-color: #fb565a;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
}

.btn-grey {
    color: #000000;
     width: 260px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.btn-grey:hover,
.btn-grey :focus {
    background-color: #dfdfdf;
}

.btn-grey:active {
    background-color: #d5d5d5;
    color: #959595;
}

.btn-green {
    color: #ffffff;

    background-color: #00ca74;
}

.btn-green:focus,
.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
}

.btn-yellow {
    color: #ffffff;

    background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    background-color: #eeeeee;
    padding-top: 49px;
}

.navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;

    background-color: #eeeeee;
}



.site-navigation,
.user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px
}

.site-navigation a,
.user-menu a {
    color: #000000;
    padding-bottom:10px; 

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-menu a:hover,
.user-menu a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-menu a:active {
    color: #a6a6a6;
    
}

.site-navigation .current {
      border-bottom: 2px solid red;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;

}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 1px;
  padding-top:60px;
    padding-bottom:91px; 
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 93% 1px;
  padding-top:60px;
    padding-bottom:91px; 
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat; 
  background-position: 93% 1px;
  padding-top:60px;
    padding-bottom:91px; 
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.servises-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.servises-item p {
    font-size: 16px;
    line-height: 24px;
}

.servises-list {
    list-style: none;
}

.table-line sup {
  font-size:26px;
}

.table-line-2 sup {
     font-size:26px;
}

sup {
    font-size:26px;
}

.about-us-title {
    font-size: 45px;
    line-height: 45px;
}

.about-us p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.order-to-work {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.us-statistic b {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.table-statistic tr:first-child {
    font-size: 45px;
    line-height: 10, 06px;
    font-weight: bold;
}

.table-statistic tr:last-child {
    font-size: 16px;
    line-height: 18px;
    color: #535a5e;
}

.write-us h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top:5px;
    padding-bottom:5px 
}

.write-us {
    padding-left: 50px;
    padding-right: 50px;
    padding-top:28px; 
    background-color: #ffffff;
    padding-bottom:47px; 
    position: absolute;
    left: 20px;
    top: 53px;
}

.write-us p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    width: 200px;  
}

.write-us .btn {
   
    width: 220px;
}
.lets-friend {
    margin-left: 140px;
    padding-top:5px; 
}

.lets-friend b{
    font-size: 36px;
    line-height: 36px;    
}

.lets-friend p {
    font-size: 16px;
    line-height: 22px;
    color: #696969;
    
    margin: 0;
    padding-top:9px; 
}


.form-to-write-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-top:0;
}

.form-to-write-us label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.form-to-write-us input:placeholder-shown {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    width: 360px;
    height: 50px;
    border-radius: 4px;
    border:2px solid #d7dcde;
}

.form-to-write-us input:placeholder-shown:hover{
    border:2px solid #b4b9bb;
    color:#b4b9bb;
}



.form-to-write-us textarea:placeholder-shown {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    height: 118px;
    border-radius: 4px;
    border:2px solid #d7dcde;
    margin-bottom:30px;
}

.form-to-write-us textarea:placeholder-shown:hover {
    border:2px solid #b4b9bb;
    color:#b4b9bb;
}

.form-to-write-us textarea:placeholder-shown:focus,
.form-to-write-us input:placeholder-shown:focus {
    border: 2px solid #000000;
    color:#000000;
}

.form-to-write-us input:placeholder-shown:invalid,
.form-to-write-us textarea:placeholder-shown:invalid{
    border: 2px solid #e74246;
    color: #e74246;
}

.form-to-write-us .btn-red {
    width: 260px; 
    margin-bottom:10px; 
}

.sorting-container label {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
 
}



.sorting-container:not(:first-child) label {
    padding-bottom:20px; 
}

.rubber{
   margin-bottom: 26px; 
}

.catalog-item {
    position: relative;
    margin-bottom: 32px;
    padding-top: 42px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.catalog-item:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 15px;
    top: 13px;
    -webkit-box-shadow: 25px 0 0 #ffffff,
                50px 0 0 #ffffff;
            box-shadow: 25px 0 0 #ffffff,
                50px 0 0 #ffffff;
    
}

.catalog-item div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    display: none;
}

.catalog-item:hover {
    background-color: #4d4d4d;
}

.catalog-item:hover div{
    display: block;
}

.catalog-item img {
    display: block;
}

.catalog-item h2 {
    text-align: center;
    padding: 0 10px; 
}

.catalog-item a {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase
}

.catalog-item p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    text-align: center;
    padding: 0 60px;
    
}


.catalog-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    margin: 0;
    padding-bottom:38px ;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.check-label {
    padding-left: 34px;
    background-repeat: no-repeat;   
    color:#283136;
    position: relative;
}

.check-label-1::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../img/radio-off.svg);
    opacity: 0.4;
}

.sorting-container input:checked + .check-label-1::before {
      background-image: url(../img/radio-on.svg);
}

.check-label::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.4;
}
.sorting-container input:checked + .check-label::before {
     background-image: url(../img/checkbox-on.svg);
     width: 27px;
}

.check-label:hover::before {
    opacity: 1;
}

.check-label-1:hover::before {
    opacity: 1;
}

.sorting-container input:disabled + .check-label::before {
    opacity: 0.1;
}

.sorting-container input:disabled + .check-label{
    color: rgba(0,0,0,0.3);
}

.sorting-container input:disabled + .check-label-1::before {
    opacity: 0.1;
}

.sorting-container input:disabled + .check-label-1{
    color: rgba(0,0,0,0.3);
}

.check-label:hover,
.check-label:focus {
    color: #000000;
}





.check-label:active {
    
}

.check-label-1 {
    background-repeat: no-repeat;
    position: relative;
    padding-left: 34px;
}

.check-label-1:hover,
.check-label-1:focus {
    color:#000000;
}

.sorting-arrows .no-active{
  opacity:0.2;
}


.pagination a {
    color: #000000;
}

.pagination {
    padding-bottom: 80px;
}

.pagination-link-next {
    padding-left:78px ;
    padding-right:78px; ;
    background-color: #eeeeee;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pagination-link {
    
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 15px;
    background-color: #eeeeee;
    border-radius: 4px;
    margin-right:6px;
}

.pagination .active {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}


.pagination-link:hover,
.pagination-link-next:hover {
    background-color: #dfdfdf;
}
.pagination-link:focus,
.pagination-link-next:focus, {
    background-color: #ffffff;
}

.pagination-link:active,
.pagination-link-next:active {
      background-color: #d5d5d5;
}

.sorting-list a {
    font-size: 14px;
    line-height: 18px;
    color: #b2b2b2;
    text-transform: uppercase;
}

.sorting-list a:focus,
.sorting-list a:hover {
    color: #8f8f8f;
}

.cart-label {
    margin-bottom: 30px;
}

.tel {
    padding-bottom: 22px;
}
.sorting-list a:active {
    color: #000000;
}

/*-Сеточные стили--*/

.logo {
    height: 85px;
    width: 190px;
}

.logo:hover,
.logo:focus {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.site-navigation {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 510px;

}
.catalog-button {
    margin-left: 80px;
    width: 200px;
    margin-bottom: 42px;
}

.site-navigation li {
    margin-right: 46px;
}

user-menu {
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 70px;
}



.services {
    padding-bottom: 80px;
    padding-top: 80px;
    width: 1100px;
    border-bottom: 2px solid #eeeeee;
}

.servises-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
}

.servises-item {
    width: 300px;
}

.servises-item h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 0;
}

.servises-item p {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 2px;
    padding-left: 3px;
}


.servises-item .btn {
    width: 160px;
}


.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 45px;
    padding-bottom: 18px;
}



.about-us {
    width: 770px;
    padding-top: 32px;
}

.about-us-list {
    list-style: none;
    padding:0; 
    margin-top: 23px;
}
.line {
    padding:0;
    margin:10px;
    margin-left:0; 
    width:25px;
    height:2px;
    background-color: #fb565a;
}

.about-us-string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    padding-bottom:23px; 
}

.us-statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 390px;
    padding-left: 145px;

}

.us-statistic b{
    text-align: center;
    padding-bottom:3px; 
}

.table-statistic td{
    padding-top:32px;
    margin-bottom:0;
   padding-bottom:0;
    margin-left: 0;
 
}
.table-line {
     padding-left:15px; 
}
.table-line-2 {
     padding-left:17px;
     
}


.partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding:0;
    padding-left:30px;
    padding-top:45px;
    padding-bottom:36px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.partners li:not(:first-child) {
   padding-left:99px; 
}
.partners li:first-child {
    padding-top:18px; 
}
.partners li:nth-child(3) {
    padding-top:20px;  
}
.partners li:last-child {
    margin-left:25px;
    padding-top:8px 
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 70px;
    padding-top: 70px;
}


.map {
    background-color: #eeeeee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   position: absolute;
    width: 100%;
}

.map iframe {
     width:100%;
    height:416px;
    border:0;  
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:260px;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding-left:0;
    margin: 0;
}

.social-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
            box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.social-button:active svg {
    opacity: 0.3;
}

.contacts {
   min-height: 416px;
    position: relative;
    padding-top:64px; 
}

.contacts .container {
    position: relative;
}


.main-sorting-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
}


.page-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.page-main-inner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-main-inner {
    padding-top: 57px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 760px;
    padding-bottom:50px;
}

.sorting-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    margin: 0;
    padding: 0;
    
    border: none;

}
.sorting-arrows {
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
}
.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left:240px; 
}

.sorting-list li {
    list-style-type: none;
}

.sorting b {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}

.sorting-item {
    padding-right: 26px;
    color: #b2b2b2;
}

.sorting-item.active a{
    color: #000000;
}

 .basket {
    text-transform: uppercase;
   
    background-repeat: no-repeat;
     position: relative;
     padding-left: 40px;
}

.basket:after{
    position:absolute;
    content: "";
    width: 16px;
    height: 16px;
     background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 8px;
}

.sorting-form {}

.page-header-catalog {
    width: 1160px;
    padding-bottom: 71px;
}

.page-header h1 {
    font-size: 55px;
    line-height: 55px;
    padding-top: 20px;
    padding-bottom: 110px;
    text-align: center;
    margin-bottom: 0;
}

.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 140px;
}

.social li {
    list-style-type: none;
}

.partners li {
    list-style-type: none;
    opacity: 0.2
}

.partners li:hover,
.partners li:focus {
 opacity: 1;
}

.partners li:active{
    opacity: 0.1;
}


.write-us-box {
    width: 760px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    display: none;
    position: fixed;
    left: 50%;
    top: 100px;
    background-color: #ffffff;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.75);
            box-shadow: 0 0 40px rgba(0,0,0,0.75);
}

.write-us-box-show {
    display: block;
}

.name-email-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.write-and-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.nerds-logo {
    padding-bottom: 34px;

}

.your-name-info,
.u-email-info,
.text-letter-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}


.sorting-container legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    
}

.sorting-container:not(:first-child) legend {
    padding-bottom: 20px;   
}


.sorting-container-features {
    padding-top: 27px;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    background-color: #f1f1f1f1;
    
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    
    background: #d7dcde;;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top:31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
    
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
    padding-bottom: 61px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
    
    font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
      width: 60px;
  padding: 8px 10px;
    margin-left: 10px;
    
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
    
      border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.button-close {
    background-color: #ffffff;
    border: none;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    opacity: 0.3;
}

.button-close:focus,
.button-close:hover {
    opacity: 1;
}

.button-close:active {
    opacity: 0.1;
}
